@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1{
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}

main{
  text-align: center;
}

html, body{
  text-align: center;
  padding: 0px;
}

#canvasPage {
  text-align: center;
}

footer {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 14px;
  color: #9FAABC;
  margin-top: 30px;
  margin-bottom: 20px;
}
